<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Edycja Gry</h1>
  </div>
</div>

<%= render 'form', game: @game %>


<div class="row">
    <div class="col-md-2 col-md-offset-5 text-center">
		<%= link_to 'Wstecz', games_path, class: 'btn btn-default' %> <%= link_to 'Pokaż', @game, class: 'btn btn-primary' %>
	</div>
</div>