<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Edycja stołu</h1>
  </div>
</div>

<%= render 'form', table: @table %>

<div class="row">
    <div class="col-md-2 col-md-offset-5 text-center">
		<%= link_to 'Wstecz', events_path, class: 'btn btn-default' %>
	</div>
</div>
