/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.login {
	float: left;
}
.before {
	background-color: rgb(169, 242, 179);
}
.after {
	background-color: rgb(242, 169, 169);
}

.event {
	text-align: center;
}
.panel-body {
	min-height: 220px;
}
.panel-primary {
	padding: 0;
}
h4.panel-heading {
	display: inline;
}
.enough {
	background-color: rgb(176, 242, 96);
}
.closed {
	background-color: rgb(237, 99, 99);
}
.notenough {
	background-color: rgb(234, 237, 104);
}
.player {
	padding: 10px;
}